@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
:root {
  --pixel-size: 2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Amatic SC", cursive;
  background-color: #df5018;
  color: #d6d6d6;
}
/* utilities */
.btn {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  color: inherit;
}
.btn:hover,
.btn:focus {
  color: #fff;
}
.drop-down-menu {
  border-radius: 10px;
  top: calc(100% + 0.5rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}
/* nav */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #333333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 99;
}
header nav .title {
  font-size: 1.5rem;
}
.control-btns {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 200px;
}

.new-robot {
  position: relative;
  display: inline-block;
}
.new-robot-menu {
  opacity: 0;
  position: absolute;
  background-color: cadetblue;
  transform: translate3d(-50%, -10px, 0px);
  pointer-events: none;
}
.new-robot.active > .new-robot-menu {
  transform: translate3d(-50%, 0px, 0px);
  opacity: 1;
  pointer-events: auto;
}

.form,
.active-form {
  margin: 10px 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
}
.activeSelect {
  display: flex;
  flex-direction: column;
}
.drop-down-menu select {
  outline: none;
  border-radius: 10px;
}
.drop-down-menu input[type="button"],
input[type="submit"] {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: auto;
}
.drop-down-menu input[type="button"]:hover,
input[type="submit"]:hover {
  opacity: 0.7;
}

/* .new-robot:hover .new-form {
  display: block;
} */
.active-robot {
  display: none;
  position: relative;
}

.active-form-container {
  opacity: 0;
  position: absolute;
  background-color: cadetblue;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0px);
}
.active-robot.active > .active-form-container {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(-50%, 0px, 0px);
}

.report-robot {
  display: none;
}
.show-activebtn {
  display: inline-block;
}
.container {
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate3d(-50%, 0, 0);
}

.move-control {
  font-family: "Noto Sans TC", sans-serif;
}
.control {
  text-align: center;
}
.move {
  margin-bottom: 10px;
}
.report-btn {
  margin-bottom: 5px;
}

.control button {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(32, 32, 31);
  color: #fff;
  padding: 10px;
  height: 40px;
  width: 60px;
}
.control button:hover {
  opacity: 0.9;
}
/* pop up */
.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  width: 300px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 999;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  position: relative;
  padding: 20px 5px 10px;
}
.modal-header .title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.modal-header .close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}
.modal-body {
  padding: 20px 10px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* robots */
.board {
  margin: auto;
  width: 500px;
  position: relative;
}
.robots-container {
  display: flex;
  flex-wrap: wrap;
  border: blueviolet solid 3px;
  min-height: 200px;
  width: 500px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.move-control {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.five-units {
  width: 500px;
  height: 500px;
}

.item {
  border: 0.1rem solid black;
  height: 100px;
  width: 100px;
}

.robot {
  width: calc(30px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  background-color: rgba(243, 234, 0, 255);
  overflow: hidden;
  position: absolute;
}
.robots {
  width: calc(30px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  background-color: rgba(243, 234, 0, 255);
  overflow: hidden;
}

@keyframes moveRobot {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.pixelart {
  image-rendering: pixelated;
}
.robot_spritesheet {
  animation: moveRobot 1s steps(8) infinite;
  width: calc(260px * var(--pixel-size));
  position: relative;
}

.face-left {
  top: calc(-34px * var(--pixel-size));
}
.face-right {
  top: calc(-66px * var(--pixel-size));
}
.face-back {
  top: calc(-98px * var(--pixel-size));
}
